{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ========================= SECTION MAIN ========================= -->	
<section class="section-intro padding-y-sm">
	<div class="container">
	  <div class="intro-banner-wrap position-relative">
		<img src="{% static 'images/banners/4.jpg' %}" class="img-fluid rounded">
		<div class="intro-content position-absolute top-50 start-50 translate-middle">
		  <h1 class="intro-title">D3</h1>
		  <p class="intro-text">Ready for your next adventure. We have your perfect travel companion for you.</p>
		  <div class="intro-buttons">
			<a href="{% url 'store' %}" class="btn btn-outline-primary float-right">Shop Now</a>
		  </div>
		</div>
	  </div>
	</div>

	<div class="container">
		<div class="intro-banner-wrap position-relative">
		  <img src="{% static 'images/banners/white background small.jpg' %}" class="img-fluid rounded">
		  <div class="intro-content position-absolute top-50 start-50 translate-middle text-center">
			<p class="intro-text-dark">At D3 we believe that sustainability is not just a trend, but a way of life. That's why we are constantly seeking out new ways to minimize our environmental impact and promote sustainable practices. We are excited to share our passion for sustainable fashion with you, and we hope that you will join us in our mission to make the world a more sustainable place.</p>
		  </div>
		</div>
	</div>

	  <div class="container">
		<div class="row align-items-center">
		  <div class="col-lg-6">
			<img src="{% static 'images/banners/10.jpg' %}" class="img-fluid rounded">
		  </div>
		  <div class="col-lg-6">
			  <h2 class="intro-title-dark">Our Values</h2>
			  <p class="intro-text-dark">Sustainability<br>Quality<br>Innovation</p>
		  </div>
		</div>
	  </div>
	  
  
	<div class="container">
	  <div class="row align-items-center">
		<div class="col-lg-6">
			<h2 class="intro-title-dark">Cork Fabric</h2>
			<p class="intro-text-dark">Eco-Friendly<br>Durable<br>Hypoallergenic</p></div>
		<div class="col-lg-6">
		  <img src="{% static 'images/banners/6.jpg' %}" class="img-fluid rounded">
		</div>
	  </div>
	</div>
  </section>

<div class="container">
	<div class="row align-items-center">
	  <div class="col-lg-6">
		<img src="{% static 'images/banners/9.jpg' %}" class="img-fluid rounded">
	  </div>
	  <div class="col-lg-6">
		  <h2 class="intro-title-dark">Our Promise</h2>
		  <p class="intro-text-dark">For every backpack we sell we <br>promise to plant a tree in your name.</p>
	  </div>
	</div>
  </div>

  <div class="container">
	<div class="intro-banner-wrap position-relative">
	  <img src="{% static 'images/banners/white background.jpg' %}" class="img-fluid rounded">
	  <div class="intro-content position-absolute top-50 start-50 translate-middle text-center">
		<h1 class="intro-title-dark">About D3</h1>
		<p class="intro-text-dark">D3 is a multifaceted term that holds a special meaning for our brand, Denise Dingsleder Design. At its core, D3 is an abbreviation of our founder's name and represents the creative spirit and vision that drives our brand forward.<br>
			But D3 is more than just a name; it also references the crucial role that Vitamin D3 plays in our lives. When we are exposed to the sun, our bodies produce this essential vitamin, which is critical for maintaining healthy bones, muscles, and immune systems.<br>	
			Just as Vitamin D3 nourishes our bodies, our brand aims to nourish our customers' lives by providing them with high-quality, stylish, and functional products. We believe that our products should enhance our customers' lives in meaningful ways, just as Vitamin D3 enhances our physical wellbeing.<br>
			So when you see the term D3, know that it represents much more than just a name. It embodies our brand's values, our commitment to quality, and our desire to create products that make a difference in people's lives.</p>
	  </div>
	</div>
</div>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION See Products (not needed at the moment)========================= 
<section class="section-name padding-y-sm">
<div class="container">

<header class="section-heading">
	<a href="{% url 'store' %}" class="btn btn-outline-primary float-right">See all</a>
	<h3 class="section-title">Hello</h3>
</header> 


<div class="row">
	{% for product in products %}
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="{{ product.get_url }}" class="img-wrap"> <img src="{{ product.images.url }}"> </a>
			<figcaption class="info-wrap">
				<a href="{{ product.get_url }}" class="title">{{ product.product_name }}</a>
				<div class="price mt-1">$ {{ product.price }}</div> 
				<div class="rating-star">
					<span>
						<i class="fa fa-star{% if product.averageReview < 0.5 %}-o{% elif product.averageReview >= 0.5 and product.averageReview < 1 %}-half-o {% endif %}" aria-hidden="true"></i>
						<i class="fa fa-star{% if product.averageReview < 1.5 %}-o{% elif product.averageReview >= 1.5 and product.averageReview < 2 %}-half-o {% endif %}" aria-hidden="true"></i>
						<i class="fa fa-star{% if product.averageReview < 2.5 %}-o{% elif product.averageReview >= 2.5 and product.averageReview < 3 %}-half-o {% endif %}" aria-hidden="true"></i>
						<i class="fa fa-star{% if product.averageReview < 3.5 %}-o{% elif product.averageReview >= 3.5 and product.averageReview < 4 %}-half-o {% endif %}" aria-hidden="true"></i>
						<i class="fa fa-star{% if product.averageReview < 4.5 %}-o{% elif product.averageReview >= 4.5 and product.averageReview < 5 %}-half-o {% endif %}" aria-hidden="true"></i>
						</span>
				</div>
			</figcaption>
		</div>
	</div> 
	{% endfor %}
</div> 

</div>
</section>
-->
<!-- ========================= SECTION  END// ========================= -->






</body>
</html>

{% endblock %}
